.input-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  position: relative;
  width: 100%;
}

.input-content {
  display: flex;
  align-items: center;

  overflow: hidden;
  border: var(--rb-input-base-border);
  border-radius: var(--rb-input-base-radius);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  width: 100%;
  height: 40px;
}

.input-content:hover {
  box-shadow: var(--rb-input-base-box-shadow-hover);
}

.input-content:focus-within {
  border-color: var(--rb-color-primary);
  box-shadow: var(--rb-input-base-box-shadow);
}

.input-content:active {
  border-color: var(--rb-color-primary);
  box-shadow: var(--rb-input-base-box-shadow-active);
}

.input {
  height: 100%;
  width: 100%;
  padding: var(--rb-input-base-padding);
}

.input[data-prefix="true"] {
  padding-left: 0;
}

.input[data-suffix="true"] {
  padding-right: 0;
}

.input:placeholder-shown {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input::-webkit-input-placeholder {
  color: var(--rb-input-base-placeholder-color);
  font-weight: var(--rb-input-base-placeholder-font-weight);
}

.input:-moz-placeholder {
  color: var(--rb-input-base-placeholder-color);
  font-weight: var(--rb-input-base-placeholder-font-weight);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}

.input:-ms-input-placeholder {
  color: var(--rb-input-base-placeholder-color);
  font-weight: var(--rb-input-base-placeholder-font-weight);
}

/* Input Error */
.input-content:has(.input[aria-invalid="true"]) {
  border-color: var(--rb-color-error);
  box-shadow: none;
}

.input-content:has(.input[aria-invalid="true"]):hover {
  box-shadow: var(--rb-input-base-error-box-shadow-hover);
}

.input-content:has(.input[aria-invalid="true"]):focus-within {
  box-shadow: var(--rb-input-base-error-box-shadow);
}

.input-content:has(.input[aria-invalid="true"]):active {
  box-shadow: var(--rb-input-base-error-box-shadow-active);
}

/* Input disabled */
.input-content:has(.input:disabled) {
  background-color: var(--rb-input-base-disabled-background);
  color: var(--rb-input-base-disabled-color);
  border-color: var(--rb-input-base-disabled-color);
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
}

/* Input Submit */
.input[type="submit"] {
  background: var(--rb-input-submit-background);
  color: var(--rb-input-submit-color);
  font-weight: var(--rb-input-submit-font-weight);
  font-size: var(--rb-input-submit-font-size);
  cursor: pointer;
}