.input-error {
  position: absolute;
  bottom: -1rem;

  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;


  font-size: .875rem;
  font-weight: 500;
  color: var(--error-color);

  animation: error-in 0.3s ease-in-out;
}

@keyframes error-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}