.input-label-container {
  display: flex;
  justify-content: space-between;
}

.input-label {
  margin-bottom: var(--rb-input-label-margin-bottom);
  font-size: var(--rb-input-label-font-size);
  font-weight: var(--rb-input-label-font-weight);
  color: var(--rb-input-label-color);
}