.input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;
  border: none;

  transition: all 0.2s ease-in-out;
}

.input[type="submit"]:hover {
  opacity: 0.9;
}

.input[type="submit"]:active {
  transform: scale(0.99);
  box-shadow: none;
}