.fieldset {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.fieldset[data-layout='column'] {
  flex-direction: column;
}

.fieldset[data-layout='row'] {
  flex-direction: row;
}

.legend {
  font-size: .875rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #37474f;
}